In [ ]:
! pip install netCDF4
import xarray as xr
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import netCDF4 as nc
from sklearn.model_selection import TimeSeriesSplit, train_test_split
from sklearn.metrics import precision_recall_fscore_support, roc_auc_score

Collecting netCDF4
  Downloading netCDF4-1.7.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (1.8 kB)
Collecting cftime (from netCDF4)
  Downloading cftime-1.6.4.post1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (8.7 kB)
Requirement already satisfied: certifi in /usr/local/lib/python3.12/dist-packages (from netCDF4) (2025.8.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (from netCDF4) (2.0.2)
Downloading netCDF4-1.7.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (9.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.3/9.3 MB 45.3 MB/s eta 0:00:00
Downloading cftime-1.6.4.post1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 41.1 MB/s eta 0:00:00
Installing collected packages: cftime, netCDF4
Successfully installed cftime-1.6.4.post1 netCDF4-1.7.2

In [ ]:
path = "NLDAS_FORA0125_H.A20250928.1200.020.nc"
ds =xr.open_dataset(path)

In [ ]:
df = ds.to_dataframe().reset_index()
df

,time,bnds,lat,lon,time_bnds,Tair,Qair,PSurf,Wind_E,Wind_N,LWdown,CRainf_frac,CAPE,PotEvap,Rainf,SWdown
0,2025-09-28 12:00:00,0,25.0625,-124.9375,2025-09-28 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025-09-28 12:00:00,0,25.0625,-124.8125,2025-09-28 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2025-09-28 12:00:00,0,25.0625,-124.6875,2025-09-28 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2025-09-28 12:00:00,0,25.0625,-124.5625,2025-09-28 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2025-09-28 12:00:00,0,25.0625,-124.4375,2025-09-28 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207867,2025-09-28 12:00:00,1,52.9375,-67.5625,2025-09-28 12:00:00,279.470001,0.005761,93522.203125,-0.37,4.93,327.660004,0.0,0.47,0.0171,0.0399,116.013000
207868,2025-09-28 12:00:00,1,52.9375,-67.4375,2025-09-28 12:00:00,279.459991,0.005745,93429.000000,-0.62,4.52,325.089996,0.0,1.51,0.0176,0.0354,142.324997
207869,2025-09-28 12:00:00,1,52.9375,-67.3125,2025-09-28 12:00:00,279.500000,0.005750,93438.703125,-0.89,4.09,322.649994,0.0,3.13,0.0181,0.0323,150.847000
207870,2025-09-28 12:00:00,1,52.9375,-67.1875,2025-09-28 12:00:00,279.579987,0.005775,93542.500000,-1.17,3.66,320.299988,0.0,5.33,0.0185,0.0307,151.307999
207871,2025-09-28 12:00:00,1,52.9375,-67.0625,2025-09-28 12:00:00,279.459991,0.005749,93404.296875,-0.92,4.08,320.290009,0.0,6.77,0.0188,0.0299,154.264999

In [ ]:
df.isnull().sum()

time               0
bnds               0
lat                0
lon                0
time_bnds          0
Tair           46994
Qair           46994
PSurf          46994
Wind_E         46994
Wind_N         46994
LWdown         46994
CRainf_frac    46994
CAPE           46994
PotEvap        46994
Rainf          46994
SWdown         46994
dtype: int64

In [ ]:
df = df.replace(-9999, np.nan)

In [ ]:
df = df.groupby(["lat","lon"]).apply(lambda g: g.interpolate(method="linear"))

/tmp/ipython-input-1926763651.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df = df.groupby(["lat","lon"]).apply(lambda g: g.interpolate(method="linear"))

In [ ]:
df = df.ffill().bfill()

In [ ]:
df.isnull().sum()

time           0
bnds           0
lat            0
lon            0
time_bnds      0
Tair           0
Qair           0
PSurf          0
Wind_E         0
Wind_N         0
LWdown         0
CRainf_frac    0
CAPE           0
PotEvap        0
Rainf          0
SWdown         0
dtype: int64

In [ ]:
df.to_csv('output.csv', index=False)